#primary{
  padding-block: 16px;

  div{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css  */
  div:nth-child(2){
    margin-inline: auto;

    .logo{
      height: 12px;
    }
  }

  div:nth-child(3){
    justify-self: end;
  }
}

#secondary{
  padding-block: 14px;
  border: 1px solid var(--stroke-color);
  gap: 32px;
  border-inline: none;
  overflow-x: scroll;
}

@media (width >= 80em){
  #primary{
    padding-block: 20px;
    
    div:nth-child(2){
      margin-inline: auto;
      
      .logo{
        height: 16px;
      }
    }
  }
  
  #secondary{
    justify-content: space-between;
    overflow-x: hidden;

  }
}